.nav{
    background: rgba( 255, 255, 255, 0.25 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
/* border-radius: 10px; */
}
.hero {
    background-color:#b199ff;
background-image:
radial-gradient(at 28% 10%, hsla(281,98%,72%,1) 0px, transparent 50%),
radial-gradient(at 63% 25%, hsla(199,74%,65%,1) 0px, transparent 50%),
radial-gradient(at 58% 47%, hsla(146,60%,77%,1) 0px, transparent 50%),
radial-gradient(at 3% 95%, hsla(205,96%,72%,1) 0px, transparent 50%);
}